<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
    {{!-- <link href="/layout/base.hbs" rel="import" /> --}}
<body>
    <nav>
        <ul>
            <a href="/"><li>Inicio</li></a>
            <a href="/add"><li>Agregar objeto</li></a>
        </ul>
    </nav>
        <div class="container">
            <p>Listado de productos</p>
            {{!-- {{{listado}}} --}}
            <table>
                <thead>
                    <tr>
                        <td>Artículo</td>
                        <td>Precio</td>
                        <td>Imagen</td>
                    </tr>
                </thead>
                <tbody>
                    {{!-- {{#each listado}} --}}
                        {{!-- <tr>
                            <td>{{ this.title }}</td>
                            <td>{{ this.price }}</td>
                            <td><img src={{ this.thumbnail }} alt=""></td>
                        </tr>
                    {{/each}} --}}
                </tbody>
            </table>
        </div>
</body>
</html>

