<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1>Listado de productos</h1>
      {{{body}}}
    </div>
  </body>
</html>