<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container">
      <ul>
        <a href="/"><li>Inicio</li></a>
        <a href="/add"><li>Agregar objeto</li></a>
      </ul>
    </div>
    <h1>Ingrese un producto</h1>
    <form action="/add" method="post">
        <div>
            <label for="title">Artículo</label>
            <input name="title" type="text">
        </div>
        <div>
            <label for="price">Precio</label>
            <input name="price" type="number">
        </div>
        <div>
            <label for="thumbnail">Link de la imagen</label>
            <input name="thumbnail" type="text">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
